<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="what" >
            <h1>What to do :)</h1>
            <h2></h2>
            
            <h1>To see All blogs</h1> 
            <p>If you want to see All Blogs please click on "BLOGS" Button
                Then you see All Bloges you added.</p>

            <h1>To know about us</h1> 
            <p>If you want to know about us please click on "ABOUT" Button
                Then will see every thing.
                hopefull make you happy.</p>
            <p>

            </p>

            <h1>To create New Blog</h1> 
            <p>If you want to create a New blog please click on "NEW BLOG" Button
                Then add the title, the snippet and the body if you want the clik "submit" Butoon.
                will be created successfully.</p>
                <p>

                </p>
            
                <h1>To delete a Blog</h1> 
                <p>If you want to delete a blog please click on "BLOG" Button
                    Then click to the blog you want deleted then you will see the blog page 
                    then there was on left screen delete click on and will be deleted successfully.</p>

        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>